/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

@font-face {
  font-family: "Inter";
  src: url(./IBMPlexMono-Regular.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(./IBMPlexMono-Bold.woff) format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Press Start 2P";
  src: url(./IBMPlexMono-Bold.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}
