/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

@font-face {
  font-family: "Inter";
  src: url(./Inter-Variable.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(./Inter-Variable.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(./Inter-Variable.woff2) format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Press Start 2P";
  src: url(./PressStart2P-Regular.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}
