/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-color: var(--background-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* 
___________________________________________________________________

                      Настройки для блока header

___________________________________________________________________
*/



/* Стили для медиазапросов блока header */

/* 
___________________________________________________________________

                      Настройки для блока main

___________________________________________________________________
*/

.main {
  padding-block-start: 104px;
  color: var(--accent-color);
}

.main__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
}

.main__list-item {
  max-inline-size: 696px;
}

.main__card {
  border: 2px solid var(--accent-color);
}

.main__card-title {
  padding: 3px 24px 3px 10px;
  font-size: 18px;
  line-height: 22px;
}

.main__card-image {
  inline-size: 100%;
  block-size: auto;
}

.main__card-text {
}

.main__card-button {
}

.main__card-button::before {
}

.main__button {
  border: 2px solid var(--accent-color);
  margin-block-start: 54px;
  margin-block-end: 103px;
}

/* Стили для медиазапросов блока main */
