/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* 
___________________________________________________________________

                  Общие стили для страницы и кнопок 

___________________________________________________________________
*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: var(--gradient-settings);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--accent-color);
  font-weight: var(--main-text-weight);
  min-inline-size: 350px;
}

.button__text {
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--accent-color);
  mix-blend-mode: difference;
}

.button {
  line-height: 12px;
  font-family: "Press Start 2P", sans-serif;
  font-weight: normal;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  transition: box-shadow ease-in-out 0.5s;
}

.button:hover {
  cursor: pointer;
}

.button:before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent-color);
  transform-origin: left;
  transform: scaleX(0%);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button:hover::before {
  cursor: pointer;
  transform: scaleX(100%);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-color);
}

/* 
___________________________________________________________________

                      Настройки для блока header

___________________________________________________________________
*/

.header {
  font-family: "Press Start 2P", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: clamp(350px, 100%, 700px);
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  margin-block-start: 100px;
}

.header__link {
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  text-align: center;
  color: var(--main-color);
  line-height: 49px;
  margin-left: 120px;
  margin-right: 120px;
  margin-block-start: 143px;
}

.header__title {
  color: var(--main-color);
  line-height: 14px;
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  margin-block-start: 34px;
}

.theme-menu {
  margin-block-start: 27px;
  margin-inline-start: 16px;
  margin-block-end: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.theme-menu__button {
  position: relative;
  color: var(--main-color);
  border: none;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:hover:enabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 2px;
  left: -14px;
  animation: moveRightLeft ease-in-out 0.5s infinite alternate-reverse;
  opacity: 0.6;
}

.theme-menu__button:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 1px;
  background-color: currentColor;
  transition: width 0.5s;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  outline: none;
  opacity: 0.6;
  width: 100%;
}

/* Медиазапросы для блока header */

@media (width<=375px) {
  .header__link {
    margin-block-start: 120px;
  }
  .header__title {
    margin-block-start: 20px;
  }
  .theme-menu {
    margin-block-start: 22px;
  }
}

/* 
--------------------------------------------------------------------

                        Настройки для блока main

--------------------------------------------------------------------
*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 100px;
  width: clamp(350px, 100%, 700px);
  color: var(--main-color);
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.main__list-item {
  background-color: var(--background-color);
}

.main__card {
  border: 2px solid var(--main-color);
}

.main__card-title {
  font-weight: var(--title-font-weight);
  padding: 3px 24px 3px 10px;
  font-size: 18px;
  line-height: 22px;
}

.main__card-block-image {
  position: relative;
  border-block-start: 2px solid var(--main-color);
  border-block-end: 2px solid var(--main-color);
  overflow: hidden;
}

.main__card-block-label {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-weight: normal;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  letter-spacing: -2px;
  opacity: 0.5;
  color: var(--main-color);
  text-shadow: 1px 1px 0 var(--background-color);
  font-weight: 400;
  z-index: 1;
}

@supports (
  (-webkit-text-stroke: 3px var(--background-color)) or
    (text-stroke: 1px solid var(--background-color))
) {
  .main__card-block-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px solid var(--background-color);
    text-shadow: none;
  }
}

.main__card-image {
  display: block;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: right;
}

.image_grayscale {
  filter: grayscale(80%);
}

.image_saturate {
  filter: saturate(350%);
}

.image_hue-rotate {
  filter: hue-rotate(34deg);
}

.image_invert {
  filter: invert(0.8);
}

.image_sepia {
  filter: sepia(80%);
}

.image_blur {
  filter: blur(5px);
}

.image_hue-rotate-saturate {
  filter: hue-rotate(95deg) saturate(120%);
}

.main__card-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.main__card-text {
  font-weight: var(--main-text-weight);
  font-size: 18px;
  line-height: 21px;
}

.main__card-like-block {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

/* Настройки для кнопки иконки лайка */

.card__icon-button {
  height: 38px;
  padding: 0;
  outline: none;
  outline: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease-in-out;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color);
}

/* Настройки для кнопки лайка */

.main__card-like-icon:hover {
  cursor: pointer;
}

.main__card-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 130px;
  font-size: 14px;
  text-align: left;
}

.main__continuation {
  display: block;
  margin-block-start: 50px;
  margin-block-end: 103px;
}

.main__continuation-button {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 14px 19px;
}

.card__diskette-icon {
  width: 21px;
  height: 21px;
}

.main__continuation-button-text {
  padding: 5px 0;
}

/* Настройки диалогового окна */

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-window[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  inline-size: 353px;
  background-color: var(--background-color);
  border: solid 2px var(--main-color);
}

.dialog-window__svg {
  width: 100px;
  height: 40px;
}

.dialog-window__block-text {
  font-family: "Press Start 2P", sans-serif;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
}

.dialog-window__block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-window__button {
  position: relative;
  inline-size: 100%;
  padding: 9px 0;
  text-align: center;
  text-transform: uppercase;
}

/* Стили для медиазапросов блока main */

@media (width <= 375px) {
  .main__card-block-label {
    top: 24px;
    right: 11px;
    letter-spacing: -2px;
  }

  .main__continuation-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .card__diskette-icon {
    margin-block-start: 7px;
    scale: 1.3;
  }
}
