/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: repeating-linear-gradient(#d3d3d3, transparent 2px),
    repeating-linear-gradient(90deg, #d3d3d3, transparent 2px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  background-size: 100% 4px, 4px 100%, 100% 100%;
  background-attachment: fixed;
  background-attachment: fixed;
  background-size: cover;
  color: var(--accent-color);
  font-weight: var(--main-text-weight);
  min-inline-size: 375px;
}

/* 
___________________________________________________________________

                      Настройки для блока header

___________________________________________________________________
*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(350px, 100%, 700px);
  min-height: 369px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  max-inline-size: 696px;
  margin-block-start: 102px;
  block-size: clamp(375px, 50%, 696px);
}

.header__title {
  font-family: "Press Start 2P", sans-serif;
  font-weight: normal;
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  text-align: center;
  color: var(--accent-colorxw);
  line-height: 49px;
  margin-left: 120px;
  margin-right: 120px;
  padding-block-start: 136px;
}

.header__text {
  font-family: "Press Start 2P", sans-serif;
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 14px;
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  padding-block-start: 20px;
}

.theme-menu {
  margin: 25px 0;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  color: var(--accent-color);
  border: none;
  transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.theme-menu__button:hover:enabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  right: 110px;
  color: currentColor;
  animation: moveRightLeft 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: -3px;
  background-color: currentColor;
  transition: width 0.3s;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  outline: none;
  opacity: 0.6;
  width: 100%;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:hover::after {
  cursor: pointer;
  opacity: 0.6;
  width: 100%;
}

/* Стили для медиазапросов блока header */

/* 
--------------------------------------------------------------------

                        Настройки для блока main

--------------------------------------------------------------------
*/

.main {
  padding-block-start: 104px;
  color: var(--accent-color);
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.main__list-item {
  max-inline-size: 696px;
  background-color: var(--background-color);
}

.main__card {
  border: 2px solid var(--accent-color);
}

.main__card-title {
  padding: 3px 24px 3px 10px;
  font-size: 18px;
  line-height: 22px;
}

.main__card-image {
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.second-image {
  filter: grayscale(80%);
}

.third-image {
  filter: saturate(350%);
}

.fourth-image {
  filter: hue-rotate(34deg);
}

.fifth-image {
  filter: invert(0.8);
}

.sixth-image {
  filter: sepia(80%);
}

.seventh-image {
  filter: blur(5px);
}

.eighth-image {
  filter: brightness(0.8) hue-rotate(90deg) opacity(0.9) blur(1px)
    saturate(170%);
}

.main__card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 25px;
}

.main__card-text {
  text-align: left;
  font-size: 18px;
  line-height: 21px;
}

.main__card-like-block {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.card__icon-button {
  border: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: outline 0.3s ease-in-out;
}

/* Настройки для иконки лайка */

.like-icon:hover {
  cursor: pointer;
}

.like-icon:active {
  fill: var(--accent-color);
}

.contour {
  fill: var(--accent-color);
}

.main-body {
  fill: transparent;
  transition: fill 0.5s 0.05s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s ease;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
}

.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:active .main-body {
  fill: red;
}

.like-icon:active .core {
  fill: red;
}

.is-liked {
  transform-origin: center;
  animation: heartBeat 0.3s ease-in 0.1s 2 alternate,
    contour 0.1s linear forwards;
}

.like-icon.is-liked .contour {
  fill: red;
}

.like-icon.is-liked .main-body {
  fill: red;
}

.like-icon.is-liked .core {
  fill: red;
}

.like-icon.is-liked .sparks {
  fill: red;
  transform: scale(1);
  animation: sparkAnimation 0.3s ease-in 0.3s forwards;
}

/* Настройки для кнопки лайка */

.main__card-like-icon:hover {
  cursor: pointer;
}

.main__card-button {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 700;
  text-transform: none;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 9px 17px;
  inline-size: 130px;
  block-size: 38px;
  font-size: 14px;
  text-align: left;
  border: 2px solid var(--accent-color);
  transition: box-shadow ease-in-out 0.5s;
}

.main__card-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
}

.main__card-button:hover::before {
  width: 100%;
}

.main__card-button:hover {
  cursor: pointer;
}

.main__card-button:focus {
  outline: none;
}

.main__card-button:focus-visible {
  outline: 1px solid var(--accent-color);
  box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
}

.button__text {
  position: relative;
  z-index: 1;
  /* transition: color 0.7s ease-in-out; */
  text-align: center;
}

.main__card-button:hover .button__text {
  color: var(--button-text);
}

/* Стили для медиазапросов блока main */

/* 
--------------------------------------------------------------------

                        Настройки для блока footer

--------------------------------------------------------------------
*/

.footer {
  display: flex;
  inline-size: 355px;
  min-block-size: 55px;
  margin-block-start: 54px;
  margin-block-end: 103px;
}

.footer__block-button {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 12px;
  inline-size: 100%;
  block-size: 100%;
  font-family: "Press Start 2P", sans-serif;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.card__diskette-icon {
  width: 21px;
  height: 21px;
}

.footer__button-text {
  color: var(--button-fill-color);
  font-size: 14px;
  position: relative;
  padding: 18.5px 0;
  mix-blend-mode: difference;
}

.footer__block-button:before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  width: 100%;
  background-color: var(--button-fill-color);
  transform-origin: left;
  transform: scaleX(0%);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.footer__block-button:hover::before {
  transform: scaleX(100%);
}

.footer__block-button:hover {
  cursor: pointer;
}

.footer__block-button:focus {
  outline: none;
}

.footer__block-button:focus-visible {
  outline: 1px solid var(--accent-color);
  box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
}

/* Настройки диалогового окна */

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog-window {
  min-inline-size: 353px;
  min-block-size: 193px;
  background-color: var(--background-color);
  border: solid 2px var(--accent-color);
}

.dialog-window__block {
  display: flex;
  padding: 30px;
}

.dialog-window__block-text {
  color: var(--accent-color);
}

.dialog-window__button {
  inline-size: 100%;
  block-size: 30px;
  text-align: center;
  border: solid 2px var(--accent-color);
  color: var(--accent-color);
}

.dialog-window__button:hover {
  cursor: pointer;
}

/* Стили для медиазапросов блока footer */

@media (width <= 375px) {
  .footer {
    inline-size: 306;
    block-size: 100px;
  }

  .footer__block-button {
    display: flex;
    flex-direction: column;
  }
  .footer__icon-button {
    margin: auto;
  }

  .card__diskette {
    width: 28px;
    height: 28px;
  }

  .footer__button-text {
    margin: auto;
  }
}
