/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

/* 
--------------------------------------------------------------------

                  Настройки для темной темы страницы

--------------------------------------------------------------------
*/

:root.theme-dark {
  --button-color: var(--accent-color);
  --main-color: #000;

  --gradient-settings: repeating-linear-gradient(
      var(--main-color),
      transparent 2px
    ),
    repeating-linear-gradient(90deg, var(--main-color), transparent 2px),
    linear-gradient(#007f0c, #004306);
  --accent-color: rgb(0, 204, 20);
  --background-color: rgb(0, 0, 0);
  --title-font-weight: 800;
  --main-text-weight: 400;
  --button-text: rgb(0, 0, 0);
}

:root.theme-light {
  --button-color: var(--button-text);
  --button-text: rgb(255, 255, 255);
  --main-color: #fff;

  --gradient-settings: repeating-linear-gradient(#d3d3d3, transparent 2px),
    repeating-linear-gradient(90deg, #d3d3d3, transparent 2px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --accent-color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
  --title-font-weight: 700;
  --main-text-weight: 400;
  --button-text: rgb(255, 255, 255);
}

/* 
--------------------------------------------------------------------

                  Настройки для светлой темы страницы

--------------------------------------------------------------------
*/

@media (prefers-color-scheme: light) {
  :root {
    --button-color: var(--button-text);
    --button-text: rgb(255, 255, 255);
    --accent-color: #000;
    --gradient-settings: repeating-linear-gradient(#d3d3d3, transparent 2px),
      repeating-linear-gradient(90deg, #d3d3d3, transparent 2px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --background-color: rgb(255, 255, 255);
    --title-font-weight: 700;
    --main-text-weight: 400;
    --button-text: rgb(255, 255, 255);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-color: var(--button-text);
    --background-color: #000;

    --gradient-settings: repeating-linear-gradient(
        var(--background-color),
        transparent 2px
      ),
      repeating-linear-gradient(90deg, var(--background-color), transparent 2px),
      linear-gradient(#007f0c, #004306);
    --accent-color: rgb(0, 204, 20);
    --background-color: rgb(0, 0, 0);
    --title-font-weight: 800;
    --main-text-weight: 400;
    --button-text: rgb(0, 0, 0);
  }
}
