/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --button-fill-color: var(--main-color);
  --main-color: #fff;

  --title-font-weight: 700;
  --main-text-weight: 400;
  --background-color: rgb(255, 255, 255);
  --background-image: url("");
  --accent-color: rgb(0, 0, 0);
  --button-text: rgb(255, 255, 255);
  --gradient-color: #d3d3d3;
  --gradinet-color-second: #ffffff00;
}
